.wrapperMenuHeader {
  display: flex;
  background-color: #808080;
  width: 100%;
}

.wrapperMenuSidebar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #282a31;
}
